@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Raleway:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


$primary-color:#165954;
$head-font: 'Cormorant Garamond', serif;
$text-font: 'Dancing Script', cursive;
$price-font:'Space Mono', monospace;

html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: #DBE6F6;
    background: -webkit-linear-gradient(to left, #C5796D, #DBE6F6);
    background: linear-gradient(to left, #C5796D, #DBE6F6);

}
.container{
    top: 50%;
    left: 50%;
    display: grid;
    grid-template-columns: repeat( 2, minmax(0,1fr));
    height: 30rem;
    width: 40rem;
    position: absolute;
    overflow: hidden;
    border: 1px solid transparent;
    box-shadow: 0 0 3px darkred;
    object-fit: cover;
    transform: translate(-50%, -50%);
    
}


.content-info{
    .perfume{
        letter-spacing: .3rem;
    }
    h1{
    font-family:$head-font ;
    font-weight: 900;
        &:hover{
            color: darkred;
        }
    }
    .price{
        font-family:$price-font ;
        font-weight: 900;
    } 
    p{
        font-family:$text-font ;
    }
    bottom{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media screen and (max-width: 998px){
   html{
    font-size: 55%;
   }
}

@media (max-width: 768px){
   html{
    font-size: 45%;
   }
}

@media (max-width:360px) {
    html{
        
        font-size: 30%;
    }
}